[Unit]
Description=BootFX ASCII Boot Animation
DefaultDependencies=no
After=local-fs.target
After=systemd-journald.service
RequiresMountsFor=/var/lib/boot-ui
Conflicts=getty@tty1.service
Before=getty@tty1.service
Before=multi-user.target
Before=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/boot-ui --config /etc/boot-ui/config.toml
Restart=no
LogsDirectory=boot-ui
LogsDirectoryMode=0755
RuntimeDirectory=boot-ui
RuntimeDirectoryMode=0755
RuntimeDirectoryPreserve=yes
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=basic.target
